<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <div>
  	<%= htmlWebpackPlugin.options.var %>
  </div>
  <div id="app">
  	<h2>{{message}}</h2>
  	<my-div></my-div>
  </div>
  <body></body>
</html>