<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div>
        <%= htmlWebpackPlugin.options.var %>
    </div>
    <div id="app">
        <h1>Rollup + Vue2 Web App 框架</h1>
        <div id="app">
            <router-view></router-view>
            <div>
                <img src="/cat1.jpg" alt="">
            </div>
        </div>
    </div>
</body>

</html>
